<script type="text/javascript">
/*google.setOnLoadCallback(drawProdutosChart);
  function drawProdutosChart() {
    var data = new google.visualization.DataTable();
    <% @produtos_vendidos.each do |prod| -%>
    data.addColumn('number', '<%= prod.nome %>');
    <% end -%>
    
    data.addRows(<%= (@produtos_vendidos.size) %>);
    <% @produtos_vendidos.each_with_index do |prod, k| -%>
    data.setValue(0, <%= k %>, <%= prod.vendidos %>);
    <% end -%>

    var chart = new google.visualization.BarChart(document.getElementById('produtos_chart'));
    chart.draw(data, {width: 400, height: 250, is3D: true, title: 'Produtos Vendidos'});
  }*/
</script>
<script type="text/javascript">
  google.setOnLoadCallback(drawProdutosChart);
  function drawProdutosChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Produtos');
    data.addColumn('number', 'Vendidos');
<% 
tmp = []
@produtos_vendidos.each do |prod| 
  tmp << "['#{prod.nome}', #{prod.vendidos}]"
end -%>
    data.addRows([ <%= tmp.join(",\n") %> ]);
 
    var chart = new google.visualization.PieChart(document.getElementById('produtos_chart'));
    chart.draw(data, {width: 430, height: 220, is3D: true, title: 'Produtos Vendidos'});
  }
</script>
<div id="produtos_chart" class="graph"></div>
<div id="produtos_data">
  <table border="1">
    <tr>
      <th>Produto</th>
      <th>Vendidos</th>
    </tr>
    <% @produtos_vendidos.each do |prod| -%>
    <tr>
      <td><%= prod.nome %></td>
      <td class="centro"><%= prod.vendidos %></td>
    </tr>
    <% end -%>
  </table>
</div>