<div id="detalhes_pedido_<%= pedido.id %>" class="grid_12 alpha omega">
  <div class="detalhes_pedido clearfix">
  <h2>Pedido #<%= pedido.id %></h2>
  <div class="grid_6 alpha">
    <h3>Comprador</h3>
    <div class="infos_wrapper">
      <%= descreve_comprador(pedido) %>
      <br />
      <%= pedido.pessoa.como_conheceu %>
    </div>
  </div>
  <div class="grid_6 omega">
    <h3>Entrega</h3>
    <div class="infos_wrapper">
      <%= descreve_entrega(pedido) %>
    </div>
  </div>
  <div class="grid_6 alpha">
    <h3>Produtos e Valores</h3>
    <div class="infos_wrapper">
      <table class="pedido_em_tabela">
        <tr class="head">
          <td>Qtd</td>
          <td>Produto</td>
          <td><%= image_tag("icones/para_presente.gif") %></td>
          <td>Preço unit.</td>
          <td>Total</td>
        </tr>
        <%= descreve_produtos_pedido_em_tabela(pedido, 
                                              :com_preco_unitario => true, 
                                              :com_valor_total => true) %>
        <tr class="frete">
          <td colspan="4">Frete (<%= pedido.frete_tipo %>)</td>
          <td><span class="valor_frete"><%= number2currency(pedido.frete) -%></span></td>
        </tr>
        <tr class="desconto">
          <td colspan="4">Desconto</td>
          <td><span class="valor_desconto">-<%= number2currency(pedido.desconto) %></span></td>
        </tr>
        <tr class="total">
          <td colspan="4">Total</td>
          <td><span class="valor_total"><%= number2currency(pedido.total) %></span></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="grid_6 omega">
    <h3>Status e Pagamento</h3>
    <div class="infos_wrapper">
      UOL pag seguro
    </div>
  </div>
  <div class="grid_12 alpha omega">
    <p class="direita" style="margin:0 10px 2px 0"><%= link_to_function "Fechar [x]", visual_effect(:blind_up, "detalhes_pedido_#{pedido.id}") %></p>
  </div>
  </div>
</div>