<% fileparts1 = arquivo[0].split("/") %>
<% fileparts2 = arquivo[1].split("/") %>
<h4>Arquivos gerados com sucesso!</h4>
<p>Salve os arquivos (timestamp: <%= timestamp %>):
  <ul> 
    <li><%= link_to("Relatório para Folhamatic", 
                    "/#{fileparts1[fileparts1.size-2]}/#{fileparts1[fileparts1.size-1]}", 
                    :title => fileparts1.last,
                    :target => "blank") %> (<%= totais[0] -%> 
                                            <%= pluralize(totais[0],"linha") -%> ~ 
                                            <% nfs = (totais[0].to_i/4).to_i || 0 -%>
                                            <%= nfs -%>
                                            <%= pluralize(nfs,"nota fiscal", "notas fiscais") -%>)
    </li>
    <li><%= link_to("CPFs dos compradores do estado de SP", 
                    "/#{fileparts2[fileparts2.size-2]}/#{fileparts2[fileparts2.size-1]}", 
                    :title => fileparts2.last,
                    :target => "blank") %> (<%= totais[1] %> 
                                            <%= pluralize(totais[1],"CPF", "CPFs") %>)
    </li>
  </ul>
</p>