<h1>Notas fiscais para contabilidade</h1>

<% form_for :automacoes, :url => "/admin/automacoes/arquivo_folhamatic" do |f| %>

<div class="grid_9 alpha">
  <fieldset>
    <legend>Escolha dos pedidos</legend>
    <ol >
      <li>
        <%= radio_button_tag "selecao", "automatica", true %> Automática (clique em <b>Marcar NF</b> na lista de pedidos)
        <div class="clearfix">
          <%= pedidos_selecionados_em_ul(@settings['pedidos_selecionados']) %>
          <p><%= link_to "Desmarcar todos os pedidos", { :action => "desmarcar_todos" }, :confirm => "Deseja mesmo desmarcar todas as NF?" %></p>
        </div>

        <%= radio_button_tag "selecao", "my_where", false %> Manual <span class="pequeno cinza">(pedidos Ids, separados por vírgulas)</span>
        <div><%= text_area_tag("condicoes", "", :cols => 60, :rows => 3, :style => "width:610px") %></div>
      </li>
    </ol>
  </fieldset>
</div>

<div class="grid_3 omega">
  <fieldset>
    <legend>Escolha da saída</legend>
    <ol>
      <li>
        <%= radio_button_tag "opcao", "tela", true %> Notas fiscais na tela<br />
        <%= radio_button_tag "opcao", "arquivo", false %> Notas fiscais para contador
      </li>
      <li>
        <%= submit_tag "Gerar" %>
      </li>
    </ol>
  </fieldset>
  
  <div id="wrapper">
    <%= image_tag("spinner.gif", :id => "spinner", :style => "display:none") %>
    <div id="resultado"></div>
  </div>
  
</div>

<% end %>