<% form_tag 'https://pagseguro.uol.com.br/security/webpagamentos/webpagto.aspx', 
            :target => 'PagSeguro', 
            :id => 'form_pagseguro', 
            :onsubmit => change_page ? 'changePage()' : 'return true' do %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<input type="hidden" name="email_cobranca" value="galinhapintadinha@gmail.com" /><!-- ANTIGO: contato@galinhapintadinha.com.br -->
<input type="hidden" name="tipo" value="CP" />
<input type="hidden" name="moeda" value="BRL" />

<% embalagens = 0 -%>
<% pedido.produtos_quantidades.each_with_index do |p, i| -%>
<input type="hidden" name="item_id_<%= (i+1).to_s -%>" value="<%= p.produto_id.to_s -%>" />
<input type="hidden" name="item_descr_<%= (i+1).to_s -%>" value="<%= p.produto.descricao_simples -%>" />
<input type="hidden" name="item_quant_<%= (i+1).to_s -%>" value="<%= p.qtd.to_s -%>" />
<input type="hidden" name="item_valor_<%= (i+1).to_s -%>" value="<%= preco_pagseguro(p.produto.preco) -%>" />
<% embalagens += (p.produto.plus_presente.to_f * p.qtd.to_i) if (p.presente) -%>
<% end -%>

<% if (@settings['frete_tipo']!='embutido') -%>
<input type="hidden" name="item_id_<%= (pedido.produtos_quantidades.size+1) %>" value="1001-<%= pedido.entrega_estado %>" />
<input type="hidden" name="item_descr_<%= (pedido.produtos_quantidades.size+1) %>" value="Frete para <%= pedido.entrega_estado %>" />
<input type="hidden" name="item_quant_<%= (pedido.produtos_quantidades.size+1) %>" value="1" />
<input type="hidden" name="item_valor_<%= (pedido.produtos_quantidades.size+1) %>" value="<%= preco_pagseguro(pedido.frete - pedido.desconto) -%>" />
<% end -%>

<% if (embalagens != 0) -%>
<input type="hidden" name="item_id_<%= (pedido.produtos_quantidades.size+2) %>" value="1002-EMB" />
<input type="hidden" name="item_descr_<%= (pedido.produtos_quantidades.size+2) %>" value="Embalagem para presente" />
<input type="hidden" name="item_quant_<%= (pedido.produtos_quantidades.size+2) %>" value="1" />
<input type="hidden" name="item_valor_<%= (pedido.produtos_quantidades.size+2) %>" value="<%= preco_pagseguro(embalagens) -%>" />
<% end -%>

<input type="hidden" name="cliente_nome" value="<%= pedido.pessoa.nome %>" />
<input type="hidden" name="cliente_cep" value="<%= pedido.entrega_cep %>" />
<input type="hidden" name="cliente_end" value="<%= pedido.entrega_endereco %>" />
<input type="hidden" name="cliente_num" value="<%= pedido.entrega_numero %>" />
<input type="hidden" name="cliente_compl" value="<%= pedido.entrega_complemento %>" />
<input type="hidden" name="cliente_bairro" value="<%= pedido.entrega_bairro %>" />
<input type="hidden" name="cliente_cidade" value="<%= pedido.entrega_cidade %>" />
<input type="hidden" name="cliente_uf" value="<%= pedido.entrega_estado %>" />
<input type="hidden" name="cliente_pais" value="BRA" />
<input type="hidden" name="cliente_ddd" value="<%= pedido.pessoa.fone_ddd %>" />
<input type="hidden" name="cliente_tel" value="<%= pedido.pessoa.fone_str %>" />
<input type="hidden" name="cliente_email" value="<%= pedido.pessoa.email %>" />

<input type="hidden" name="ref_transacao" value="<%= pedido.id.to_s %>" />

<div class="grid_11 " style="text-align:center;background:#ddd">
  <p>Agora é só <b>CLICAR NO BOTÃO ABAIXO</b> e realizar o pagamento no <b>UOL PAGSEGURO:</b></p>
  <input type="image" src="/images/icones/botao_pagseguro.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</div>
<% end %>

<% if change_page -%>
<script type="text/javascript" charset="utf-8">
  function changePage() {
    location.href='/comprar/obrigado'
    return true;
  }
</script>
<% end -%>