<div id="frete_desconto_total" class="grid_7 alpha">
  <table class="crud margin0">
  <%= hidden_field :pedido, :frete %>
  <% if (@settings["frete_tipo"]=="embutido") -%><!-- FRETE INCLUSO -->
    <tr id="frete">
      <td>&nbsp;Frete</td>
      <td class="valor">Incluso (= R$ 0,00)</td>   
    </tr>
  <% elsif (@settings["frete_tipo"]=="estadual") -%><!-- FRETE POR ESTADO -->
    <tr id="frete">
      <td>&nbsp;Frete <% if @pedido.entrega_estado.blank? -%><span class="pequeno">(escolha o estado da entrega...)</span><% end -%>
      <span style="margin-left:140px">
        <%= observe_field "pedido_entrega_estado", 
                          :url => { :action => "atualizar_frete_por_estado" },
                          :with => "estado" -%>
      </span>
      </td>
      <td class="valor"><span id="frete_por_estado"><%= number2currency(@pedido.frete) %></span></td>
    </tr>  
  <% elsif (@settings["frete_tipo"]=="correios") -%><!-- FRETE CALCULADO PELO CORREIO -->
    <tr id="frete">
      <td >&nbsp;Frete <span>digite seu cep <input type="text"></span></td>
      <td class="valor"><%= number2currency(0) %></td>  
    </tr>
  <% end -%>
  <% if (@settings["desconto_ligado"].to_i == 1) -%><!-- DESCONTO -->
    <tr id="desconto" class="verdinho esquerda">
      <td class="formfield">
        <% if @pedido.desconto and (@pedido.desconto > 0) -%>
        &nbsp;Desconto (cupom <b><%= @pedido.cupom_de_desconto.codigo %></b>)
        <% else -%>
        &nbsp;Cupom de desconto 
        <%= text_field_tag :cupom_desconto, nil %>
        <%= link_to_function(image_tag("icones/arrow_refresh.png", 
                                       :style => "margin-left:5px;position:relative;top:3px"), 
                             "enviaDesconto()") -%>
        <%#= observe_field("cupom_desconto", 
                          :url => { 
                            :action => "validar_cupom_desconto" 
                          },
                          :with => "cupom_desconto") %>
<script type="text/javascript" charset="utf-8">
function enviaDesconto() {
  if ($('cupom_desconto').value.length>=20) {
    new Ajax.Request('/comprar/validar_cupom', {asynchronous:true, evalScripts:true, parameters:'cupom=' + encodeURIComponent($('cupom_desconto').value) + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')});
  } else {
    alert($('cupom_desconto').value.length);
  }  
}
</script>
        <% end -%>
      </td>
      <td class="valor"><%= number2currency(@pedido.desconto) %></td>
    </tr>
  <% end -%>
  </table>
  <div id="total">
    <ul>
      <li id="label_total">&nbsp;Total</li>
      <li id="pontinhos">&nbsp;</li>
      <li class="valor grandao verde"><%= number2currency(@pedido.total) %></li>
    </p>
  </div>
</div>