<div class="grid_8 alpha" id="meu_carrinho">
  <h5>Seu carrinho <%#= link_to ".", :action => "esvaziar" %></h5>
  <div class="grid_8 alpha omega">
<% if @carrinho and (@carrinho.size > 0) -%>
<table class="crud">
<% total_qtd = total_preco = 0 %>
<% @carrinho.each_with_index do |c, i| %>
<% prod = c.produto %>
  <tr>
    <td class="curta">
      <%= text_field_tag "qtd_produto_#{prod.id}", c.qtd, { 
                         :size => 2, 
                         :style => "font-size:16px",
                         :onblur => "alterarQtd('#{prod.id}', $F('qtd_produto_#{prod.id}'))" } %>
    </td>
    <td class="larga">
      <%= infos_produto_box(prod, :link_to_carrinho => false,
                                  :mostrar_preco => true,
                                  :mostrar_desconto => true,
                                  :mostrar_itens => true) -%>
      <p class="margin0"><%= link_to_modal_box "[Saiba...+]" , { :action => "produto", :id => prod.id }, :width => 720 %></p>
    </td>
    <% if settings_checked?(@settings['opcao_para_presente']) -%>
    <td class="curta">
      <%= check_box_tag "presente_produto_#{prod.id}", 1, c.presente, :onclick => "javascript:embrulhar(#{prod.id})" %>
      <%= link_to image_tag("icones/para_presente_verde.gif"), "", :title => "+ #{number_to_currency(prod.plus_presente)}/unidade" -%>
    </td>
    <% end -%>
    <td class="curta valor centro verdinho"><%= number_to_currency(calcular_preco(c, prod)) %></td>
    <% if (@carrinho.size > 1) -%>
    <td style="width:12px;padding:0 0 0 5px;"><%= link_to_remote "[x]", 
                                                 :url => { :action => "retirar",  
                                                           :produto_id => prod.id },
                                                 :title => "Tirar do carrinho" -%>&nbsp;</td>
    <% end -%>
  </tr>
<% total_qtd += c.qtd %>
<% total_preco += calcular_preco(c, prod) %>
<% end %>
  <tr id="parcial"><!-- PARCIAL = SOMA DOS PRODUTOS -->
    <td colspan="<% if settings_checked?(@settings['opcao_para_presente']) %>3<% else %>2<% end %>">&nbsp;<%= pluralize(total_qtd, "item") %></td>
    <td <% if (@carrinho.size > 1) -%>colspan="2"<% end %> class="valor"><%= number_to_currency(total_preco) %></td>   
  </tr>
</table>
<% else -%>
<p class="centro" style="margin-top:20px">Seu carrinho de compras está vazio.</p>
<% end -%>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
function embrulhar(prod_id) {
  new Ajax.Request('/comprar/embrulhar?produto_id='+prod_id, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')}); return false;
}
function alterarQtd(prod_id, qtd) {
  new Ajax.Request('/comprar/alterar_qtd?produto_id='+prod_id+'&qtd='+qtd, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')}); return false;
}
</script>