<div class="grid_8 alpha">
<fieldset>
  <legend>Comprador</legend>
  <ol id="comprador">
    <li>
      <label for="nome">Seu nome</label>
      <%= text_field :pessoa, :nome, :class => "required", :title => "Preencha seu nome" %>
    </li>
    <li>
      <label for="email">Email</label>
      <%= text_field :pessoa, :email, :class => "required validate-email", :title => "Digite corretamente seu email" %>
    </li>
    <li>
      <label for="sexo">Sexo</label>
      <%= radio_button("pessoa", "sexo", "m") -%> Masculino &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= radio_button("pessoa", "sexo", "f", :class => "validate-one-required", :title => "Escolha um...") -%> Feminino
    </li>
    <li>
      <label for="telefone">Telefone*</label>
      (<%= text_field :pessoa, :fone_ddd, :size => 2, :maxlength => 2, :class => "validate-digits", :title => "Use apenas números no DDD", :style => "margin-right:0;" -%>) <%= text_field :pessoa, :fone_str, :size => 9, :maxlength => 8 %>
      <span class="hint">Use apenas números</span>
    </li>
    <li>
      <label for="cpf">CPF*</label>
      <%= text_field :pessoa, :cpf, { 
                        :size => 15, 
                        :maxlength => 11, 
                        :class => "validate-digits", 
                        :title => "Digite seu CPF - use apenas números" } %>
      <span class="hint">Use apenas números. <abbr style="text-decoration:underline" title="Ao ser informado, o CPF do comprador constará no programa Nota Fiscal Paulista. Mais em http://www.nfp.fazenda.sp.gov.br/">Sobre o NF Paulista...</abbr></span>
    </li>
    <li>
      <label for="como-conheceu">Como ficou sabendo do DVD*</label>
      <%= select_tag "pessoa[como_conheceu]", 
                     options_for_select([["", nil],
                                         ["Youtube","youtube"],
                                         ["Site de busca", "site de busca"],
                                         ["Newsletter", "newsletter"],
                                         ["Indicação de amigo/parente","indicacao"],
                                         ["Presente", "presente"],
                                         ["Loja virutal", "loja virtual"],
                                         ["Loja (não virtual)", "loja real"],
                                         ["Outro", "outro"]], nil) %>
    </li>
  </ol>
</fieldset>
<p class="pequeno" style="text-align:left;margin:0 0 0 100px">* Campos de preenchimento opcional</p>
</div>

<div class="grid_8 alpha">
<fieldset>
  <legend>Entrega</legend>
  <ol id="entrega">
    <li>
      <label for="para">Para*</label>
      <%= text_field :pedido, :entrega_nome_pacote %>
      <span class="hint">Ex.: nome da criança presenteada</span>
    </li>
    <li>
      <label for="endereco">Endereço</label>
      <%= text_field :pedido, :entrega_endereco, :class => "required", :title => "Preencha o endereço da entrega" %>
    </li>
    <li>
      <label for="numero">Número</label>
      <%= text_field :pedido, :entrega_numero, :size => 12, :class => "required", :title => "Preencha o número do endereço de entrega" %>
    </li>
    <li>
      <label for="complemento">Complemento*</label>
      <%= text_field :pedido, :entrega_complemento %>
    </li>
    <li>
      <label for="bairro">Bairro*</label>
      <%= text_field :pedido, :entrega_bairro %>
    </li>
    <li>
      <label for="cep">CEP</label>
      <%= text_field :pedido, :entrega_cep, :size => 12, :maxlength => 8, :class => "required validate-digits", :title => "Digite o CEP do endereço de entrega - use apenas números" %>
      <span class="hint">Use apenas números</span>
    </li>
    <li>
      <label for="estado">Estado</label>
      <%= render :partial => 'select_estado' -%>
    </li>
    <li>
      <label for="cidade">Cidade</label>
      <%= render :partial => 'text_cidade' -%>
    </li>
  </ol>
</fieldset>
</div>

<style type="text/css" media="screen">
fieldset legend{
  margin:0;
}
ol#comprador, 
ol#entrega {
  border-top:1px solid gray;
  padding-bottom:5px;
  background:#eee;
}
ol#comprador li,
ol#entrega li {
  margin:0 0 5px 100px;
  line-height:12px;
}
ol#comprador li label, 
ol#entrega li label {
  font-size:11px;
  margin:0;
}
ol#comprador input, 
ol#entrega input {
  font-size:16px;
}
span#estado_label {
  font-weight:bold;
  font-size:16px;
}
.hint {
  line-height:0.6em;
}

/* legado.... */
#calculando_frete p {
  text-align:center;
  margin:5px 0;
  color:red;
}
#frete div#opcoes {
  margin-left:110px;
}
</style>