<div class="grid_11 alpha omega" style="margin-top:20px">
<div class="grid_7 alpha">
  <div class="grid_7 alpha omega topo_carrinho">
    <h5>Produtos escolhidos</h5>
  </div>
<% if carrinho and (carrinho.size > 0) -%>
<table class="crud">
  <tr>
    <th>Qtd.</th>
    <th>Produto</th>
    <% if (@settings["opcao_para_presente"].to_i==1) -%><th>Para presente?</th><% end -%>
    <th style="text-align:center">Valor</th>
  </tr>
<% carrinho.each_with_index do |c, i| %>
<% prod = c.produto %>
  <tr>
    <td class="curta">
      <%= c.qtd %>
    </td>
    <td class="larga">
      <p style="margin:0">
      <%= thumbnail_produto(prod) %>
      <span class="pequeno"><%= prod.nome %></span>
      </p>
    </td>
    <% if settings_checked?(@settings["opcao_para_presente"]) -%>
    <td>
      <% if c.presente %>para presente<% else %>não<% end %>
    </td>
    <% end -%>
    <td class="valor centro verdinho"><%= number_to_currency(calcular_preco(c, prod)) %></td>
  </tr>
<% end %>
  <tr id="frete">
    <td colspan="2">&nbsp;Frete</td>
    <% if (@settings["opcao_para_presente"].to_i==1) -%><td></td><% end -%>
    <td class="valor centro"><%= number_to_currency(pedido.frete) %></td>
  </tr>
  <% if (@settings["desconto_ligado"].to_i == 1) -%><!-- DESCONTO -->
  <tr id="desconto">
    <td colspan="2">&nbsp;Desconto</td>
    <% if (@settings["opcao_para_presente"].to_i==1) -%><td></td><% end -%>
    <td class="valor centro">-<%= number_to_currency(pedido.desconto) %></td>
  </tr>
  <% end %>
  <tr id="total" class="verdinho">
    <td class="esquerda" colspan="2">&nbsp;<b>Total</b> (<%= pluralize(carrinho.size, "item") %>)</td>
    <% if settings_checked?(@settings["opcao_para_presente"]) -%><td></td><% end -%>
    <td class="valor grandao verde centro"><%= number_to_currency(pedido.total) %></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:2px">&nbsp;</td>
    <% if settings_checked?(@settings["opcao_para_presente"]) -%><td></td><% end -%>
    <td class="direita negrito" style="padding:2px"><%= link_to_function "Alterar...", "history.back()" if link_alterar %></td>
  </tr>
</table>
<% end -%>
</div>

<div class="grid_4 omega">
  <% if (msg=='pre') -%>
  <h5 class="margin0">Aqui está seu pedido!</h5>
  <p>Certifique-se de que está tudo certinho.</p>
  <p>Primeiramente, atente para os produtos escolhidos e para o valor total do pedido. Em seguida, revise com cuidado os dados do comprador e, sobretudo, os dados de entrega (é para lá que será enviado seu pedido).</p>
  <p>Se precisar modificar algo, basta clicar em algum dos links <b>Alterar...</b>.</p>
  <p>Se estiver tudo <i>ok</i>, prossiga rumo ao pagamento.</p>
  <% elsif (msg=='pos') -%>
  <h5 class="margin0">Aqui está seu pedido!</h5>
  <p>Certifique-se de que está tudo certinho.</p>
  <p>Caso haja algum erro, reclamação, dúvida, crítica etc. ou deseje cancelar seu pedido, entre em contato com <%= mail_to("contato@galinhapintadinha.com.br", "nosso atendimento") -%> ou use nossa página de <%= link_to "fale conosco", fale_conosco_url -%>.</p>  
  <p>Lembre-se, por favor, de mencionar o número de seu pedido (<b>Pedido n. = <%= pedido.id %></b>).</p>
  <% end %>
</div>

</div>