<select id="pedido_entrega_estado" name="pedido[entrega_estado]" class="required" title="Escolha o estado da entrega">
  <option value=""></option>
  <option value="AC" <%= "selected" if (@pedido.entrega_estado=="AC") -%>>AC</option>
  <option value="AL" <%= "selected" if (@pedido.entrega_estado=="AL") -%>>AL</option>
  <option value="AM" <%= "selected" if (@pedido.entrega_estado=="AM") -%>>AM</option>
  <option value="AP" <%= "selected" if (@pedido.entrega_estado=="AP") -%>>AP</option>
  <option value="BA" <%= "selected" if (@pedido.entrega_estado=="BA") -%>>BA</option>
  <option value="CE" <%= "selected" if (@pedido.entrega_estado=="CE") -%>>CE</option>
  <option value="DF" <%= "selected" if (@pedido.entrega_estado=="DF") -%>>DF</option>
  <option value="ES" <%= "selected" if (@pedido.entrega_estado=="ES") -%>>ES</option>
  <option value="GO" <%= "selected" if (@pedido.entrega_estado=="GO") -%>>GO</option>
  <option value="MA" <%= "selected" if (@pedido.entrega_estado=="MA") -%>>MA</option>
  <option value="MG" <%= "selected" if (@pedido.entrega_estado=="MG") -%>>MG</option>
  <option value="MS" <%= "selected" if (@pedido.entrega_estado=="MS") -%>>MS</option>
  <option value="MT" <%= "selected" if (@pedido.entrega_estado=="MT") -%>>MT</option>
  <option value="PA" <%= "selected" if (@pedido.entrega_estado=="PA") -%>>PA</option>
  <option value="PB" <%= "selected" if (@pedido.entrega_estado=="PB") -%>>PB</option>
  <option value="PE" <%= "selected" if (@pedido.entrega_estado=="PE") -%>>PE</option>
  <option value="PI" <%= "selected" if (@pedido.entrega_estado=="PI") -%>>PI</option>
  <option value="PR" <%= "selected" if (@pedido.entrega_estado=="PR") -%>>PR</option>
  <option value="RJ" <%= "selected" if (@pedido.entrega_estado=="RJ") -%>>RJ</option>
  <option value="RN" <%= "selected" if (@pedido.entrega_estado=="RN") -%>>RN</option>
  <option value="RO" <%= "selected" if (@pedido.entrega_estado=="RO") -%>>RO</option>
  <option value="RR" <%= "selected" if (@pedido.entrega_estado=="RR") -%>>RR</option>
  <option value="RS" <%= "selected" if (@pedido.entrega_estado=="RS") -%>>RS</option>
  <option value="SC" <%= "selected" if (@pedido.entrega_estado=="SC") -%>>SC</option>
  <option value="SE" <%= "selected" if (@pedido.entrega_estado=="SE") -%>>SE</option>
  <option value="SP" <%= "selected" if (@pedido.entrega_estado=="SP") -%>>SP</option>
  <option value="TO" <%= "selected" if (@pedido.entrega_estado=="TO") -%>>TO</option>
</select>