<div class="grid_12 alpha omega" style="padding-left:30px">
  <%= error_messages_for 'pedido', 'pessoa', :header_message => "Atenção: Pedido com problemas" -%>
  <div>
    <h3 id="call2compra">Peça já os produtos da Galinha Pintadinha!</h3>
    <%= render :partial => "instrucoes_iniciais",
               :locals => { :i => 2 } -%>
  </div>

<% form_for :pedido, :url => "/comprar/gravar" do |f| %>

<!-- RESUMO DO CARRINHO -->
<%= render :partial => "resumo_carrinho", 
           :locals => { 
             :carrinho => @carrinho,
             :pedido => @pedido,
             :msg => 'pre',
             :link_alterar => true
            } -%>

<div class="grid_11 alpha omega">
<!-- FORM RESUMO DO PEDIDO -->
<%= render :partial => "resumo_pedido",
           :locals => { 
             :pedido => @pedido,
             :link_alterar => true
                  } %>

  <div class="grid_1 omega direita">
    <%= image_submit_tag('icones/botao_continuar.png', :style => "position:relative;top:220px") %>
  </div>
</div>

<% end %>
</div>
<%#= render :partial => "debug" %>