<div class="grid_12 alpha omega" style="padding-left:30px">
  <h3 id="call2compra" class="margin0">Dados do pedido n. <%= @pedido.id -%></h3>
  
  <div class="grid_12 alpha omega">
  <p>Veja abaixo o resumo da informações referentes ao seu pedido.</p>
  
  <p class="grid_11 alpha" id="status">
    Status do pedido: <span class="<%= @pedido.status %>"><%= @pedido.status_agora %></span>
      <%= link_to "*", :anchor => "legenda", 
                       :pid => params[:pid], 
                       :pbase => params[:pbase], 
                       :chkpid => params[:chkpid], 
                       :md5 => params[:md5] %>
  </p>
  <!-- RESUMO DO CARRINHO -->
  <%= render :partial => "resumo_carrinho", 
             :locals => { 
               :carrinho => @pedido.produtos_quantidades,
               :pedido => @pedido,
               :msg => 'pos'
              } -%>
  </div>

  <div class="grid_12 alpha omega">
  <!-- RESUMO DO PEDIDO: COMPRADOR E ENTREGA -->
  <%= render :partial => "resumo_pedido", 
             :locals => { 
               :pedido => @pedido
              } -%>
  </div>

<% if @pedido.aguardando_pagamento? -%>
<div class="grid_12 alpha omega">
  <p class="margin0"><b>Ainda aguardamos o pagamento de seu pedido...</b></p>
  <p>Caso tenha ocorrido algum problema com o pagamento no UOL PagSeguro,
     clique no botão abaixo e conclua agora sua compra</p>
  <%= render :partial => "form_pagseguro",
             :locals => { 
               :pedido => @pedido,
               :change_page => false
             } %>
</div>
<% end -%>

<div class="grid_11 alpha omega">
  <p class="centro"><a name="legenda"></a>*<b>Legenda (Status dos pedido)</b></p>
  <div class="grid_5 alpha">
    <p><b>Aguardando pagamento</b>: o pagamento de seu pedido ainda não foi confirmado pelo UOLPagSeguro.</p>
    <p><b>Processando pedido</b>: seu pagamento já foi confirmado, portanto, estamos processando seu pedido. Isso significa embalar o(s) produtos, imprimir etiqueta e nota fiscal e, por último, despachá-lo para os Correios.</p>
    <p><b>Pedido postado</b>: seu pedido já foi entregue aos Correios para levá-lo ao endereço informado. O código de rastreamento do produto é informado ao cliente tão logo o recebamos dos Correios.</p>
  </div>
  <div class="grid_5 omega">
    <p><b>Recebido pelo cliente</b>: seu pedido foi devidamente recebido e o cliente notificou o site da Galinha Pintadinha, deixando seu depoimento, crítica, sugestão etc.</p>
    <p><b>Cancelado</b>: pedido cancelado, por motivos diversos.</p>
    <p><b>Encerrado</b>: mais de 90 dias se passaram desde o término do pedido (cancelado ou entregue).</p>
  </div>
</div>

<style type="text/css" media="screen">
fieldset#seu_pedido ol li,
fieldset#pedido_entrega ol li,
fieldset#pedido_comprador ol li {
  list-style:none;
}
p#status {
  font-size:18px;
  text-align:center;
  background:#ccc;
}
p#status span {
  font-weight:bold;
}
p#status span.pedido { color: gray;}
p#status span.aguardando_pagamento { color: #FFE69F;}
p#status span.processando_envio { color: ;}
p#status span.processando_envio_envelopado { color: ;}
p#status span.processando_envio_notafiscal { color: ;}
p#status span.produto_enviado { color: ;}
p#status span.produto_enviado_cod_postagem { color: ;}
p#status span.cancelado { color:gray;}
</style>

<% form_tag '/comprar/seu_pedido', :id => 'form_seu_pedido' do %>
<%= hidden_field_tag "pid", params[:pid] %>
<%= hidden_field_tag "pbase", params[:pbase] %>
<%= hidden_field_tag "chkpid", params[:chkpid] %>
<%= hidden_field_tag "md5", params[:md5] %>
<% end %>
