<ul class="sans-bullets bem-distribuidos">
  <li>
    <%= image_tag "spinners/spinner.gif", :id => "spinner_opcao_para_presente", :style => "display:none" %>
    <%= check_box_tag "settings[opcao_para_presente]", 1, settings_checked?(@settings["opcao_para_presente"]) %> Habilitar opção <%= image_tag("icones/para_presente_verde.gif", :title => "para presente") %> na venda
    <%= observe_field "settings_opcao_para_presente", 
                      :url => { :action => "update_check_box" },
                      :with => "settings[opcao_para_presente]",
                      :before => "$('spinner_opcao_para_presente').show()",
                      :after => "$('spinner_opcao_para_presente').hide()" -%>
  </li>
</ul>

<fieldset class="grupo-simples" id="aproveite_para_levar">
  <legend>Aproveite para levar</legend>
  <ul class="sans-bullets bem-distribuidos">
    <li>
      <%= image_tag "spinners/spinner.gif", :id => "spinner_aproveite_para_levar", :style => "display:none" %>
      <%= check_box_tag "settings[loja_aproveite_para_levar]", 1, settings_checked?(@settings["loja_aproveite_para_levar"]) %> Mostrar <b>Aproveite para levar</b> (i.e. troca produtos no carrinho por combo)
      <%= observe_field "settings_loja_aproveite_para_levar", 
                        :url => { :action => "update_check_box" },
                        :with => "settings[loja_aproveite_para_levar]",
                        :before => "$('spinner_aproveite_para_levar').show()",
                        :after => "$('spinner_aproveite_para_levar').hide()" -%>
    </li>
    <li>
      <label for="loja_aproveite_para_levar_maximo">Número máximo de produtos</label>
      <%= text_field_tag "settings[loja_aproveite_para_levar_maximo]", @settings["loja_aproveite_para_levar_maximo"], :size => 2 -%>  
    </li>
  </ul>
</fieldset>

<fieldset class="grupo-simples" id="sugestoes">
  <legend>Sugestões</legend>
  <ul class="sans-bullets bem-distribuidos">
    <li>
      <%= image_tag "spinners/spinner.gif", :id => "spinner_mostrar_sugestoes", :style => "display:none" %>
      <%= check_box_tag "settings[loja_mostrar_sugestoes]", 1, (@settings["loja_mostrar_sugestoes"].to_i==1) %> Mostrar <b>Sugestões da Galinha</b> (i.e. inclui novos produtos no carrinho)
      <%= observe_field "settings_loja_mostrar_sugestoes", 
                        :url => { :action => "update_check_box" },
                        :with => "settings[loja_mostrar_sugestoes]",
                        :before => "$('spinner_mostrar_sugestoes').show()",
                        :after => "$('spinner_mostrar_sugestoes').hide()" -%>
    </li>
    <li>
      <label for="loja_mostrar_sugestoes_maximo">Número máximo de produtos</label>
      <%= text_field_tag "settings[loja_mostrar_sugestoes_maximo]", @settings["loja_mostrar_sugestoes_maximo"], :size => 2 -%>
    </li>
    <li>
      <label for="loja_mostrar_sugestoes_empty_default">Quando &quot;carrinho vazio&quot;, mostrar produtos</label>
      <%= text_field_tag "settings[loja_mostrar_sugestoes_empty_default]", @settings["loja_mostrar_sugestoes_empty_default"], :size => 5 -%> <span class="pequeno cinza">(ids separados por vírgulas)</span>
    </li>
  </ul>
</fieldset>
