<ul class="sans-bullets bem-distribuidos">
  <li>
    <label for="frete_tipo">Tipo de Frete</label><br />
<%= radio_button_tag "settings[frete_tipo]", "embutido", (@settings["frete_tipo"]=="embutido") %> Embutido/Incluso (R$ = 0,00) <br />
<%= radio_button_tag "settings[frete_tipo]", "estadual", (@settings["frete_tipo"]=="estadual") %> Por estado (<%= link_to "configurar valores...", :action => "frete_por_estado" %>) <br />
<%= radio_button_tag "settings[frete_tipo]", "correios", (@settings["frete_tipo"]=="correios") %> Pelos Correios<br />
  </li>
  <li>
    <label for="multiplicador">Acréscimo (para frete <b>por estado</b>) quando (n > 1) produtos</label>
    <%= text_field_tag "settings[frete_estadual_multiplicador]", @settings["frete_estadual_multiplicador"] -%>
  </li>
</ul>