<% form_for :configuracoes, :url => { :action => "salvar" } do |f| %>
<div class="grid_12 alpha omega">
  <h1 id="especial">Configurações</h1>
  <p class="form_button"><%= f.submit "Salvar" %></p>
</div>

<div class="grid_3 alpha">
  <ul id="tabs_configuracoes" class="subsection_tabs">
    <li class="tab"><a href="#one">Gerais do sistema</a></li>
    <li class="tab"><a href="#two">Carrinho e Gôndola</a></li>
    <li class="tab"><a href="#three">Frete</a></li>
    <li class="tab"><a href="#four">Descontos</a></li>
    <li class="tab"><a href="#five">Emails</a></li>
  </ul>
</div>

<div class="grid_9 omega">
  <div id="one"><%= render :partial => "conf_gerais" %></div>
  <div id="two"><%= render :partial => "conf_gondola_e_carrinho" %></div>
  <div id="three"><%= render :partial => "conf_frete" %></div>
  <div id="four"><%= render :partial => "conf_descontos" %></div>
  <div id="five"><%= render :partial => "conf_emails" %></div>
</div>
<% end %><!-- FORM -->

<div class="grid_12 alpha omega" id="debug">
  <%#= debug(@settings) %>
</div>

<script type="text/javascript" charset="utf-8">
new Control.Tabs('tabs_configuracoes');  
</script>