<h1>Configurações</h1>
<ul>
  <li>
    <p>Gerais do sistema</p>
  </li>
  <li>
    <p>Gôndola e Carrinho</p>
    <ul>
      <li>
        <%= image_tag "spinners/spinner.gif", :id => "spinner_aproveite_para_levar", :style => "display:none" %>
        <%= check_box_tag "settings[loja_aproveite_para_levar]", 1, (@settings["loja_aproveite_para_levar"].to_i==1) %> Mostrar <b>Aproveite para levar</b> (i.e. troca produtos no carrinho por combo)
        <%= observe_field "settings_loja_aproveite_para_levar", 
                          :url => { :action => "update_check_box" },
                          :with => "settings[loja_aproveite_para_levar]",
                          :before => "$('spinner_aproveite_para_levar').show()",
                          :after => "$('spinner_aproveite_para_levar').hide()" -%>
      </li>
      <li>Quantas/limite...</li>
      <li>
        <%= image_tag "spinners/spinner.gif", :id => "spinner_mostrar_sugestoes", :style => "display:none" %>
        <%= check_box_tag "settings[loja_mostrar_sugestoes]", 1, (@settings["loja_mostrar_sugestoes"].to_i==1) %> Mostrar <b>Sugestões da Galinha</b> (i.e. inclui novos produtos no carrinho)
        <%= observe_field "settings_loja_mostrar_sugestoes", 
                          :url => { :action => "update_check_box" },
                          :with => "settings[loja_mostrar_sugestoes]",
                          :before => "$('spinner_mostrar_sugestoes').show()",
                          :after => "$('spinner_mostrar_sugestoes').hide()" -%>
      </li>
      <li>Quantas/limite...</li>
    </ul>
  </li>
  <li>
    <p>Frete</p>
    <%= radio_button_tag "settings[frete_tipo]", "embutido", (@settings["frete_tipo"].to_i=="embutido") %> Embutido (Frete = 0) <br />
    <%= radio_button_tag "settings[frete_tipo]", "estadual", (@settings["frete_tipo"].to_i=="estadual") %> Por estado (<%= link_to "configurar valores...", :action => "index" %>) <br />
    <%= radio_button_tag "settings[frete_tipo]", "correios", (@settings["frete_tipo"].to_i=="correios") %> Pelos Correios<br />
  </li>
  <li>
    <p>Descontos</p>
    <ul>
      <li>Valor padrão do cupom de desconto</li>
      <li>Prazo de validade padrão do cupom de desconto</li>
    </ul>
  </li>
  <li>
    <p>Emails</p>
    <ul>
      <li><%= link_to "Rodapé dos emails", 
                      { :action => "editar_arquivo", 
                        :file => "/app/views/mailer/_rodape.html.erb",
                        :nome_arquivo => "Rodapé padrão dos emails",
                        :rows => 8, :cols => 70 },
                      :method => :post -%></li>
      <li><%= link_to "Emails administrativos",
                      { :action => "emails_admin" } %></li>
    </ul>
  </li>  
</ul>