<% form_for :configuracoes, :url => { :action => "salvar" } do |f| %>
<div class="grid_12 alpha omega">
  <h1 id="especial">Configurações</h1>
  <p class="form_button"><%= f.submit "Salvar" %><!-- ou <%= link_to "Voltar", admin_produtos_path %> --></p>
</div>

<div class="grid_3 alpha">
  <ul id="tabs_configuracoes" class="subsection_tabs">
    <li class="tab"><a href="#one">Gerais do sistema</a></li>
    <li class="tab"><a href="#two">Gôndola e Carrinho</a></li>
    <li class="tab"><a href="#three">Frete</a></li>
    <li class="tab"><a href="#four">Descontos</a></li>
    <li class="tab"><a href="#five">Emails</a></li>
  </ul>
</div>

<div class="grid_9 omega">
  <div id="one"><%= render :partial => "conf_gerais" %></div>
  <div id="two"><%= render :partial => "conf_gondola_e_carrinho" %></div>
  <div id="three"><%= render :partial => "conf_frete" %></div>
  <div id="four"><%= render :partial => "conf_descontos" %></div>
  <div id="five"><%= render :partial => "conf_emails" %></div>
</div>
<% end %><!-- FORM -->

<script type="text/javascript" charset="utf-8">
new Control.Tabs('tabs_configuracoes');  
</script>

<style type="text/css" media="screen">
h1#especial {
  margin:0 0 10px 0;
  float:left;
}
ul.subsection_tabs {
  border-right:1px solid #CCCCCC;
  clear:both;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0 0 5px;
  padding:0;
  height:300px;
}
ul.subsection_tabs li.tab {
  margin:0 0 10px 0;
  text-align:right;
}
ul.subsection_tabs li.tab a.active {
  background-color:#DDDDDD;
  -moz-border-radius-topleft:8px;
  -moz-border-radius-bottomleft:8px;
}
ul.subsection_tabs li.tab a {
  background-color:#FFFFFF;
  color:#666666;
  display:block;
  padding:5px 15px 5px 0;
  font-weight:bold;
  text-decoration:none;
}
</style>