<div class="grid_5 alpha">
<fieldset>
  <ol>
    <li class="big green">
      <label>Valor</label>
      R$ <%= f.text_field :valor, :size => 4 %>
      <p class="dica">Use ponto para separar os centavos.</p>
    </li>
    <li>
      <label>Email</label>
      <%= f.text_field :email, :size => 44 %>
    </li>
    <% if @desconto.usou? -%>
    <li>
      <p>
      Desconto usado em <%= l @desconto.usado_em, :format => "%d/%m/%Y %H:%M" %><br />
      Detalhes do pedido <b><%= link_to "pedido #{@desconto.pedido_id}", :controller => "pedidos", :action => "show", :id => @desconto.pedido_id %></b>.
      </p>
    </li>
    <% end -%>
  </ol>
</fieldset>
</div>

<div class="grid_7 omega">
<fieldset class="grupo-simples">
  <legend>Condições<legend>
  <ol>
    <li>
      <%= label "minimo_pedido", "Mínimo do pedido"  %>
      R$ <%= f.text_field :minimo_pedido, :size => 4 %>
      <p class="dica">Use ponto para separar os centavos.</p>
    </li>
    <li>
      <label>Válido até</label>
      <%= f.datetime_select :valido_ate, :default => 30.days.from_now.end_of_day %>
    </li>
  </ol>
</fieldset>
</div>