<h1>Descontos</h1>

<p><%= link_to image_tag("icones/add.png") + " Conceder desconto", new_admin_desconto_path, :style => "text-decoration:none" %>
  
<table class="crud">
  <tr>
    <th>Para</th>
    <th>Válido até</th>
    <th>Valor</th>
    <th>Usou</th>
    <th>Ações</th>
  </tr>

<% @descontos.each do |desconto| %>
  <tr>
    <td>
      <%= desconto.email %><br />
      Código: <%= desconto.codigo %><br />
      <span class="pequeno cinza">Criado em <%= l desconto.created_at, :format => "%d/%m/%Y às %H:%M" %></span>
    </td>
    <td >
      <%= l desconto.valido_ate, :format => "%d/%m/%Y" %><br />
      <span class="pequeno cinza"><%= distance_of_time_in_words_to_now(desconto.valido_ate) %></span>
    </td>
    <td class="grandao green"><%= number2currency(desconto.valor) %></td>
    <td><% if desconto.usou? -%>
      <%= image_tag("icones/accept.png") %><br />
      <span class="pequeno cinza">Usado em <%= l desconto.usado_em, :format => "%d/%m/%Y às %H:%M" %></span>
      <% else -%>
      <%= image_tag("icones/cancel.png") %>
      <% end -%>
    </td>
    <td><%= link_to 'Ver', :action => "show", :id => desconto %><br />
        <!-- <%= link_to 'Editar', edit_admin_desconto_path(desconto) %><br /> -->
        <%= link_to 'Reenviar', "#" %><br />
        <%= link_to 'Apagar', admin_desconto_path(desconto), :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@descontos) %>
