<h1>Descontos</h1>

<p style="padding-bottom:30px"><%= link_to(content_tag(:span, image_tag("icones/add.png") + " Conceder desconto"), new_admin_desconto_path, :class => "botao") %>
  
<table class="crud">
  <tr>
    <th>Para</th>
    <th>Validade</th>
    <th>Valor</th>
    <th>Ações</th>
  </tr>

<% @descontos.each do |desconto| %>
  <tr>
    <td>
      <%= desconto.email %><br />
      Cupom: <%= desconto.codigo %><br />
      <span class="pequeno cinza">Criado em <%= l desconto.created_at, :format => "%d/%m/%Y às %H:%M" %></span>
    </td>
    <td>
      <% unless desconto.expirado? -%>
      <% if desconto.usou? -%>
      <%= image_tag("icones/accept.png") %>
      <span class="pequeno cinza"><%= link_to "Pedido #{desconto.pedido_id}", :controller => "pedidos", :action => "index", :id => desconto.pedido_id %></span>
      <% else -%>
      <%= l desconto.valido_ate, :format => "%d/%m/%Y" %><br />
      <span class="pequeno cinza"><%= distance_of_time_in_words_to_now(desconto.valido_ate) %></span>
      <% end -%>
      <% else -%>
      expirado
      <% end -%>
    </td>
    <td class="grandao green"><%= number2currency(desconto.valor) %></td>
    <td class="acoes">
        <%= link_to "#{image_tag('icones/arrow_refresh.png')} Reenviar", "#" %><br />
        <%= link_to "#{image_tag('icones/cancel.png')} Remover", admin_desconto_path(desconto), :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@descontos) %>
