<h1>Produtos</h1>
<p>
  <%= link_to image_tag("icones/add.png") + " Novo produto", new_admin_produto_path, :style => "text-decoration:none" %>
</p>
<table id="lista_de_produtos" class="crud">
  <thead>
    <tr>
      <th><img src="/images/icones/disponivel.gif" alt="disponivel"></th>
      <th>Nome/Descrição simples</th>
      <th>Em estoque</th>
      <th>Preço</th>
      <th colspan="1">
        Ações
      </th>
    </tr>
  </thead>
<% for produto in @produtos -%>
  <tr>
    <td class="estreita">
      <% if produto.disponivel -%>
        <img src="/images/icones/disponivel.gif" alt="disponivel">
      <% else -%>
        <img src="/images/icones/disponivel_not.gif" alt="disponivel">
      <% end -%></td>
    <td>
      <%= link_to produto.nome, edit_admin_produto_path(produto) %><br />
      <%= produto.descricao_simples %>
    </td>
    <td><%= produto.qtd_estoque %></td>
    <td class="grandao green"><%= number2currency(produto.preco) %></td>
    <td>
      <%= link_to "Editar", edit_admin_produto_path(produto) %><br />
      <%= link_to "Remover", admin_produto_path(produto), :confirm => "Tem certeza?", :method => :delete %>
    </td>
  </tr>
<% end -%>
</table>

<%= will_paginate(@produtos) %>

<style type="text/css" media="screen">
.estreita { width:20px; }
.grandao { font-size: 26px; }
.grandao .real { font-size: 14px; }
.remover { width: 80px; }
</style>