<h1>Produtos</h1>
<p>
  <%= link_to image_tag("icones/add.png") + " Novo produto Simples", new_admin_produto_path, :style => "text-decoration:none" %>
  <%= link_to image_tag("icones/add.png") + " Novo Combo", { :action => "new_combo" }, :style => "text-decoration:none;margin-left:100px" %>
</p>
<table id="lista_de_produtos" class="crud">
  <thead>
    <tr>
      <th><img src="/images/icones/disponivel.gif" alt="disponivel"></th>
      <th>Nome/Descrição simples</th>
      <th>Preço</th>
      <th colspan="1">
        Ações
      </th>
    </tr>
  </thead>
<% for produto in @produtos -%>
  <tr class="<%= produto.class.to_s.downcase %>">
    <td class="estreita">
      <% if produto.disponivel -%>
        <img src="/images/icones/disponivel.gif" alt="disponivel">
      <% else -%>
        <img src="/images/icones/disponivel_not.gif" alt="disponivel">
      <% end -%></td>
    <td>
      <%= produto.nome %><br />
      <span class="pequeno cinza"><%= produto.descricao_simples %></span>
    </td>
    <td class="grandao green"><%= number2currency(produto.preco) %></td>
    <td class="acoes">
      <% if (produto.class == ProdutoSimples) -%>
        <%= link_to image_tag("icones/database_edit.png") + " Editar", edit_admin_produto_path(produto) %><br />
      <% elsif (produto.class == ProdutoCombo) -%>
        <%= link_to image_tag("icones/database_edit.png") + " Editar", :action => "edit_combo", :id => produto %><br />
      <% end -%>
      <%= link_to image_tag("icones/link_add.png") + " Relacionar", :action => "relacionar", :id => produto %><br />
      <%= link_to image_tag("icones/cancel.png") + " Remover", admin_produto_path(produto), :confirm => "Tem certeza?", :method => :delete %>
    </td>
  </tr>
<% end -%>
</table>

<%= will_paginate(@produtos) %>

<style type="text/css" media="screen">
.remover { width: 80px; }
.produtocombo { background-color:#ffd;}
</style>