<h1>Relacionar Produtos</h1>

<% form_for(@produto, :url => { :action => "gravar_relacionar", :id => @produto }, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
    
  <div class="grid_4 alpha">
    <div id="relacionados" style="background-color:#eee;padding:5px;border:1px solid gray">
      <h3>Produtos relacionados</h3>
      <% if @produto.produtos_relacionados.empty? -%>
        <p>Ainda não há produtos relacionados ao <b><%= @produto.nome %></b>.</p>
        <p>Crie já um relacionamento, arrastando os produtos à direita.</p>
      <% else -%>
      <ul>
        <% @produto.produtos_relacionados.each do |s| -%>
        <li id="relacionado_<%= s.id %>" class="sans-bullet">
          <%= link_to image_tag("icones/link_break.png"), 
                      { 
                        :action => "remover_relacionar",
                        :id => @produto.id,
                        :relacionado => s.id 
                      },
                      :confirm => "Quer mesmo excluir essa relação?" -%> <b><%= s.nome -%></b>
        </li>
        <% end -%>
      </ul>
      <p class="legenda">Use o ícone <%= image_tag("icones/link_break.png") %> para remover o relacionamento.</p>
      <% end -%>
    </div>
  </div>
  
  <div class="grid_3">
    <div id="criar_relacao" style="background-color:#FFE69F;padding:5px;border:1px solid yellow">
      <h3>Relacionar!</h3>
      <p>Arraste para cá os produtos que deseja relacionar a...</p>
      <%= drop_receiving_element("criar_relacao", 
                                 :url => { :action => "add" },
                                 :onDrop => "function(draggable_element, droppable_element, event) { relacionarProduto(#{@produto.id}, draggable_element.id) }",
                                 #:update => "relacionados",
                                 :confirm => "Quer mesmo relacionar esse produto a '#{@produto.nome}'?") %>
      <div id="em_questao">
        <%= infos_produto_box(@produto, :link_to_carrinho => false) %>
      </div>
      <p class="legenda">Os produtos relacionados aqui aparecerão na <b>Sugestão da Galinha</b>.</p>
    </div>
  </div>
  
  <div class="grid_5 omega">
    <h3>Demais produtos</h3>
    <ul>
    <% @demais_produtos.each do |p| -%>
      <li class="sans-bullet demais_produtos" id="produto_<%= p.id %>" value="<%= p.id %>">
        <%= infos_produto_box(p, :link_to_carrinho => false) %>
        <%= draggable_element("produto_#{p.id}") %>
      </li>
    <% end -%>
    </ul>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
function relacionarProduto(produto_id, elem_id) {
  if ($(elem_id)) {
    location.href='/admin/produtos/'+produto_id+'/relacionar?novo=1&produto_id='+$(elem_id).value;
    //alert($(elem_id).value);
  }
}
</script>